*{
    margin: 0;
    padding: 0;
}
.bg-color{
    background-color: rgb(242, 222, 186);
    display: flex;
    justify-content: space-between;
}
.body-contenedor{
    background-color: rgb(255, 239, 214);
}

.carritoDeCompra{
    width: 50px;
}
.imgLogo{
    width: 90px;
}
.carouselExampleIndicators{
    width: 80%;
}
.cardProductos{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 10px;
    width: 80%;
   text-align: center;
   padding-left: 180px;
}

.descripcion{
    list-style: none;
}

h1{
    text-align: center;
    font-size: 25px;
    font-style: inherit;
    color: rgb(14, 94, 111);
    padding-top: 35px;

}
h2{
    text-align: center;
    font-size: 20px;
    font-style: inherit;
    color: rgb(14, 94, 111);
    padding-top: 20px;
    padding-bottom: 30px;

}
    